<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="assets/images/logo_about.png" style="width:400px;height:173px" align="middle"> <br><br>
          <form class="col-lg-12">
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
              <input class="form-control input-lg" title="Enter desired skills you want to learn" placeholder="Start looking for an internship" type="text">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" style="background-color:white;" type="button"><%= link_to "Go!", new_session_path %></button></span>
            </div>
          </form><!-- About Section -->
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <p class="intro-text">Bringing the real world to the campus and bringing talented students into your workplace</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Freelanship</h2>
      <p>Managing four classes and an internship was a daunting task in itself. Lauren knew it would be impossible to throw a part-time job into her already chaotic schedule; and so, she decided to create Freelanship, ” your internship alternative.” </p>
      <p>Internships are a vital part of the college experience but without support, the experience may be unfeasible. Although Lauren managed to get by, she realized many of her peers shared her dilemma.</p>
      <p>Now, both students and publications win through this mutually beneficial partnership known as <a href="http://Freelanship.com">Freelanship</a>.</p>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Information</h2>
      <p>We would love to hear your feedback, feel free to email us! </p>
      <p><a href="mailto:lah@freelanship.com">lah@freelanship.com</a>
      </p>

      <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="https://plus.google.com/112095273997718981060/posts"><i class="icon-google-plus"></i></a> <a href="https://www.facebook.com/Freelanship"><i class="icon-facebook"></i></a>  <a href="https://twitter.com/freelanship"><i class="icon-twitter"></i></a> <a href="https://www.linkedin.com/company/freelanship"><i class="icon-linkedin"></i></a> <a href="http://www.pinterest.com/holaur/freelanship-3/"><i class="icon-pinterest"></i></a>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div class="row">
  <div class="col-lg-11">
    <p class="pull-right">Freelanship ©</p>
    <br><br>
  </div>
</div>
