<% if current_user.try(:employer) %>
  <%= link_to "Create a listing", employer_options_path %>
<% end %>

<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>Results</h1>
      <br><br><br>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="list-group">
      <div class="list-group-item row">
        <div class="row">

          <div class="col-md-3 col-xs-3 text-center">
            <h3>Company</h3>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <h3>Job</h3>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <h3>Skills</h3>
          </div>

          <div class="col-md-3 col-xs-3 text-center" style="padding-left:55px;">
            <h3>Rating</h3>
          </div>
        </div>
      </div>
      <! --  start of list item -->
      <br/><br/>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" row="tab" id="headingFour">
            <div class="list-group-item row">

              <div class="col-md-3 col-xs-3 text-center">
                <span class="company logo">
                  <img alt src="css/content/vol_logo.png" style="width:60px;height:60px">
                </span>
              </div>

              <div class="col-md-3 col-xs-3 text-center">
                <span class="company name">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                      Volkswagen
                    </a>
                  </h4>

                </span>
              </div>

              <div class="col-md-3 col-xs-3 text-center">
                <span class="job skills">
                  <h4>learning learning learning</h4>
                </span>
              </div>

              <div class="col-md-3 col-xs-3 text-center">
                <span class="rating">
                  <h4 text>95%</h4>
                </span>
              </div>
            </div>
          </div>

          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              <a>apply</a>
            </div>
          </div>
        </div>







      </div>
    </div>







    <div class="panel panel-default">
      <div class="panel-heading" row="tab" id="headingTwo">


        <div class="list-group-item row">

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company logo">
              <img alt src="css/content/vol_logo.png" style="width:60px;height:60px">
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company name">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                  Volkswagen
                </a>
              </h4>

            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="job skills">
              <h4>learning learning learning</h4>
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="rating">
              <h4 text>95%</h4>
            </span>
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          <a>apply</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" row="tab" id="headingThree">

        <div class="list-group-item row">

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company logo">
              <img alt src="css/content/vol_logo.png" style="width:60px;height:60px">
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company name">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                  Volkswagen
                </a>
              </h4>

            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="job skills">
              <h4>learning learning learning</h4>
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="rating">
              <h4 text>95%</h4>
            </span>
          </div>
        </div>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          <a>apply</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/>

<div class="container">

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <br><br>
      <p class="pull-right">© Freelanship</p>
      <br/><br/>
    </div>
  </div>
</div>
