<% if current_user.try(:employer) %>
  <%= link_to "Create a listing", employer_options_path %>
<% end %>
<style>
h3 {
  color: black;
}

div.panel-body {
  color: black;
}
</style>
<div class="container-full" style="background-image: url(assets/images/clouds.jpg);">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>Results</h1>
      <br><br><br>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="list-group">
      <div class="list-group-item row">
        <div class="row">

          <div class="col-md-3 col-xs-3 text-center">
            <h3 style="color:black;">Company</h3>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <h3>Job</h3>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <h3>Skills</h3>
          </div>

          <div class="col-md-3 col-xs-3 text-center" style="padding-left:55px;">
            <h3>Rating</h3>
          </div>
        </div>
      </div>
      <! --  start of list item -->
      <br/><br/>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" row="tab" id="headingFour">
            <div class="list-group-item row">

              <div class="col-md-3 col-xs-3 text-center">
                <span class="company logo">
                  <img alt src="assets/images/BostonGlobe.png" style="width:150px;height:60px">
                </span>
              </div>

              <div class="col-md-3 col-xs-3 text-center">
                <span class="company name">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                      Seeking Journalist with Marketing Mindset
                    </a>
                  </h4>

                </span>
              </div>

              <div class="col-md-3 col-xs-3 text-center">
                <span class="job skills">
                  <h6>
                    <span class="label label-primary">Writing Skills</span>
                    <br/>
                    <span class="label label-success"> Research</span>
                    <br/>
                    <span class="label label-info">PR/Outreach</span>
                  </h6>
                </span>
              </div>

              <div class="col-md-3 col-xs-3 text-center">
                <span class="rating">
                  <h4 text>
                    <span class="badge">94%</span>
                  </h4>
                </span>
              </div>
            </div>
          </div>

          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Our client located in Downtown Boston is looking for a smart and driven journalist with a marketing mindset who wants to learn and earn at the same time. The ideal person has college journalism experience, and he or she is excited to learn more about content marketing. This is the perfect project for a smart and reliable experience seeker who is not only motivated to add vibrant pieces to their portfolio but who also wants to gain a load of transferrable soft skills. $400 for 4 weeks.
              <span="label label-success"><%= link_to "Apply", class: "btn btn-success" %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" row="tab" id="headingTwo">


        <div class="list-group-item row">

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company logo">
              <img alt src="assets/images/buzzfeed_logo.png" style="width:90px;height:60px">
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company name">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                  Hilarious Comic Strip Writers
                </a>
              </h4>
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="job skills">
              <h6>
                <span class="label label-primary">Great Writing Skills</span>
                <br/>
                <span class="label label-success">Sense of Humor</span>
                <br/>
                <span class="label label-info">WordPress</span>
              </h6>
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="rating">
              <h4 text>
                <span class="badge">91%</span>
              </h4>
            </span>
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          We're looking for between 10-20 jokes which will be whittled down to 6. These will accompany cartoons. $60 compensation.
          <span="label label-success"><%= link_to "Apply", class: "btn btn-success" %></span>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" row="tab" id="headingThree">

        <div class="list-group-item row">

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company logo">
              <img alt src="assets/images/huffpo-logo.png" style="width:60px;height:60px">
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="company name">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                  Awesome Freelance Journalist (long-term)
                </a>
              </h4>
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="job skills">
              <h6>
                <span class="label label-primary">Industry Expertise</span>
                <br/>
                <span class="label label-success">Content Marketing</span>
                <br/>
                <span class="label label-info">Twitter</span>
              </h6>
            </span>
          </div>

          <div class="col-md-3 col-xs-3 text-center">
            <span class="rating">
              <h4 text>
                <span class="badge">89%</span>
              </h4>
            </span>
          </div>
        </div>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Compensation 2k-5k DOE and quality of work and turnaround time.
          <span="label label-success"><%= link_to "Apply", class: "btn btn-success" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
