.background {
  padding-top: 0;
  width: 100%;
  height: 100%;
  background: url(images/keyboard.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 130;
  font-size: 80px;
  color: #e74c3c;
}

.lead {
  color:#e74c3c;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  color: #eee;
  overflow: hidden;
}

.container-full a {
  color: #efefef;
  text-decoration: none;
}

.v-center {
  margin-top: 7%;
}
