.sessions-background {
  padding-top: 0;
  width: 100%;
  height: 100%;
  background: url(images/clouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
  
}
